<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Nyt om børnehaven</h1>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus aliquam magna id arcu consectetur pretium.
        Fusce consectetur dolor nec augue maximus laoreet.
        Praesent pulvinar lacinia libero, in venenatis elit rhoncus eget.
        Proin et vestibulum odio. Ut condimentum eget elit a scelerisque.
        Phasellus aliquam ex ut purus laoreet ultrices.
        Quisque sagittis nulla tellus, ut tempor elit consectetur non.
    </p>
    <p>
        Mauris eu augue faucibus dolor rhoncus lobortis vitae sit amet leo.
        Nulla facilisi. Aenean et malesuada lorem. Pellentesque sodales, sapien at rhoncus pellentesque, mi nisl
        pellentesque nibh, sed lobortis turpis nibh nec ligula.
        Cras feugiat sit amet tellus laoreet viverra. Quisque fringilla tincidunt tortor, et euismod mi euismod ac.
        Etiam pellentesque vehicula orci, in maximus tortor porttitor in.
        Vivamus pharetra posuere risus, vitae vulputate dui facilisis vitae. Integer maximus consequat elit quis cursus.
        Duis volutpat lacinia odio ac tincidunt. Integer finibus leo nec magna venenatis, eu ultricies leo elementum.
    </p>

    <p>
    <p th:text="${title}" />

    <p th:text="${content}" />
    </p>

</div>
<!-- /.container -->



<div th:replace="fragments/footer :: footer"/>
</body>
</html>